@{
    ViewBag.Title = "404 Not Found";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/404.css" />
</head>

<div class="container">
    <div class='c'>
        <div class='_404'>404</div>
        <hr>
        <br />
        <div class='_1'>THE PAGE</div>
        <br />
        <div class='_2'>WAS NOT FOUND</div>
        <br />
        <a class='btn' href='@Url.Action("Index", "Home")'>BACK TO HOME</a>
    </div>
</div>
