@{
    ViewBag.Title = "404 Not Found";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/404.css" />
</head>

@*A customised 404 page with much better looking compare to the default one.*@
<div class="container">

    @*Site Map*@
    <div style="margin-top:66px; margin-left:16px;">
        @Html.MvcSiteMap().SiteMapPath()
    </div>

    @*The content of the 404 page.*@
    <div class='c' style="margin-top: 13px">
        <div class='_404'>404</div>
        <hr>
        <br />
        <div class='_1'>THE PAGE</div>
        <br />
        <div class='_2'>WAS NOT FOUND</div>
        <br />
        <a class='btn' href='@Url.Action("Index", "Home")'>BACK TO HOME</a>
    </div>
</div>
