@model IEnumerable<TripNPick.Models.StateInterestsCount>
<table style="margin-top:50px;">
    <tr>

        <td>State Name</td>
        <td>Num of interest </td>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.stateName</td>
            <td>@item.numberOfInterests</td>

        </tr>
    }
</table>
