
@{
    ViewBag.Title = "dropdownTest";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#HomeDD").select2({
                closeOnSelect: false,
                placeholder: "Tell us when you want to travel..",
                allowClear: true
            });

            $("#HomeDD").on("select2:unselect", function (evt) {
                if (!evt.params.originalEvent) {
                    return;
                }

                evt.params.originalEvent.stopPropagation();
            });

            var scrollTop;
            $('#HomeDD').on("select2:selecting", function (event) {
                var $pr = $('#' + event.params.args.data._resultId).parent();
                scrollTop = $pr.prop('scrollTop');
            });
            $('#HomeDD').on("select2:select", function (event) {
                var $pr = $('#' + event.params.data._resultId).parent();
                $pr.prop('scrollTop', scrollTop);
            });
        });
    </script>
</head>

<body>
    <div class="container" style="padding-top:66px;">
        <form action="/Map/Index">
            <select id="HomeDD" multiple="multiple" name="cMonths" style="width: 800px">
                <option value="January">Jan</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="Novenmber">Novenmber</option>
                <option value="December">December</option>
            </select>
            <input type="submit" class="submitbtn" value="Search" />
        </form>
    </div>
</body>

