
@model IEnumerable<with_map_1.Models.StateFarmsCount>
    <table>
        <tr>

            <td>State Name</td>
            <td>Num of Farms </td>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>@item.stateName</td>
                <td>@item.numberOfFarms</td>
            </tr>
        }
    </table>

