@model IEnumerable<TripNPick.Models.SuburbInterestsCount>
@{
    Layout = null;
}

<!DOCTYPE html>

<table>
    <tr>
        <td>suburb id</td>
        <td>Number of Interests</td>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>@item.suburbId</td>
        <td>@item.numberOfInterests</td>
    </tr>
    }
</table>