
@{
    ViewBag.Title = "Search";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/maps.css" />
</head>

<script type="text/javascript">

    function initMap() {
        var map;
        var bounds = new google.maps.LatLngBounds();

        var coa = { lat: -25.031596581410874, lng: 134.36777208750004 };
        var mapOptions = {
            center: coa,
            zoom: 4.5,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: false,
            labels: true
        };
        var map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
        map.setTilt(50);

        // Multiple markers location, latitude, and longitude
        var markers = [
            ['NSW', -31.840233, 145.612793],
            ['NT', -19.491411, 132.550964],
            ['QSL', -20.917574, 142.702789],
            ['SA', -30.000233, 136.209152],
            ['TAS', -41.640079, 146.315918],
            ['VIC', -36.686043, 143.580322],
            ['WA', -31.953512, 115.857048]
        ];

        // Info window content
        var infoWindowContent = [
            ['<div class="info_content">' +
                '<h3>Brooklyn Museum</h3>' +
                '<p>The Brooklyn Museum is an art museum located in the New York City borough of Brooklyn.</p>' + '</div>'],
            ['<div class="info_content">' +
                '<h3>Brooklyn Public Library</h3>' +
                '<p>The Brooklyn Public Library (BPL) is the public library system of the borough of Brooklyn, in New York City.</p>' +
                '</div>'],
            ['<div class="info_content">' +
                '<h3>Prospect Park Zoo</h3>' +
                '<p>The Prospect Park Zoo is a 12-acre (4.9 ha) zoo located off Flatbush Avenue on the eastern side of Prospect Park, Brooklyn, New York City.</p>' +
                '</div>']
        ];

        // Add multiple markers to map
        var infoWindow = new google.maps.InfoWindow(), marker, i;

        // Place each marker on the map
        for (i = 0; i < markers.length; i++) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

            // Add info window to marker
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Center the map to fit all markers on the screen
            map.fitBounds(bounds);
        }

        // Set zoom level
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
            this.setZoom(14);
            google.maps.event.removeListener(boundsListener);
        });

    }
    // Load initialize function
    google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC_HGUZ-hvy730lBns4WKZxkhzMzm0UJU&region=AU&language=en-AU&callback=initMap" async defer></script>

<body>
    <div class="container bgBorder">
        <form @*action="/Home/ExpResults"*@ method="post">
            <table style="width: 100%">
                <tr>
                    <th>
                        <label class="tagContent">
                            Time to visit:
                        </label>
                    </th>
                    <td style="padding-bottom: 8px;">
                        <label class="content">
                            Jan
                            <input type="checkbox" name="yourInte" value="January">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Feb
                            <input type="checkbox" name="yourInte" value="February">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Mar
                            <input type="checkbox" name="yourInte" value="March">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Apr
                            <input type="checkbox" name="yourInte" value="April">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            May
                            <input type="checkbox" name="yourInte" value="May">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Jun
                            <input type="checkbox" name="yourInte" value="June">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Jul
                            <input type="checkbox" name="yourInte" value="July">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Aug
                            <input type="checkbox" name="yourInte" value="Auguest">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Sep
                            <input type="checkbox" name="yourInte" value="September">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Oct
                            <input type="checkbox" name="yourInte" value="October">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Nov
                            <input type="checkbox" name="yourInte" value="Novenmber">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Dec
                            <input type="checkbox" name="yourInte" value="December">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr style="border-bottom: 3px solid #e7e7e7">
                    <th style="padding-bottom: 8px;">
                        <label class="tagContent">
                            Prefered interests:
                        </label>
                    </th>
                    <td style="padding-bottom: 8px;">
                        <label class="content">
                            Interest1
                            <input type="checkbox" name="yourInte" value="January">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest2
                            <input type="checkbox" name="yourInte" value="February">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest3
                            <input type="checkbox" name="yourInte" value="March">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest4
                            <input type="checkbox" name="yourInte" value="April">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest5
                            <input type="checkbox" name="yourInte" value="May">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest6
                            <input type="checkbox" name="yourInte" value="January">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest7
                            <input type="checkbox" name="yourInte" value="February">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest8
                            <input type="checkbox" name="yourInte" value="March">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest9
                            <input type="checkbox" name="yourInte" value="April">
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest10
                            <input type="checkbox" name="yourInte" value="April">
                            <span class="checkmark"></span>
                        </label>
                        <input type="submit" class="submitbtn" value="Search" style="float: right; margin-right: 64px;" />
                    </td>
                </tr>
            </table>
        </form>

        <div class="col-lg-4" style="background-color: #808080; margin-top: 16px; padding-bottom: 500px;">

        </div>

        <div id ="mapCanvas"class="col-lg-8" style="margin-top: 16px; padding-bottom: 500px;">

        </div>
    </div>
</body>

