@model TripNPick.Models.UserSelections
@{
    ViewBag.Title = "Search";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/maps.css" />
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery.js"></script>
</head>

<script type="text/javascript">

    function initMap() {
        var map;
        var bounds = new google.maps.LatLngBounds();

        var coa = { lat: -25.031596581410874, lng: 134.36777208750004 };
        var mapOptions = {
            center: coa,
            zoom: 3.9,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: false,
            labels: true
        };
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
        map.setTilt(50);
        $.get("@Url.Action("getFarmCountMonthlyFiltered", "Map", new { combinedString = Model.combinedString })", function (data, status) {
            var markers = [];
            var contentString = [];
              var infowindow = [];
            for (i = 0; i < data.length; i++) {
                var markerLabel = String(data[i].numberOfFarms);
                //var numberOfFarmsString = (String)data.numberOfFarms;
                var infoWindowContent = '<h3>' + data[i].stateName + '</h3>' +
                    '<br/>' + '<h4>Number of Farms with jobs in your selected month/months: <b>' + String(data[i].numberOfFarms) + '</b></h4>';
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].location_lat, data[i].location_lng),
                    label: markerLabel,
                    map: map
                });
                (function (marker, infoWindowContent) {
                    google.maps.event.addListener(marker, 'mouseover', function (e) {
                        infoWindow.setContent(infoWindowContent);
                        infoWindow.open(map, marker);
                    });
                })(marker, infoWindowContent);
                (function (marker, infoWindowContent) {
                    google.maps.event.addListener(marker, 'mouseout', function (e) {
                        infowindow.close();
                    });
                })(marker, infoWindowContent);

            }
        })
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC_HGUZ-hvy730lBns4WKZxkhzMzm0UJU&region=AU&language=en-AU&callback=initMap" async defer></script>

<body>
    <div class="container bgBorder">
        <form action="/Map/Index" method="post">
            <table style="width: 100%">
                <tr>
                    <th>
                        <label class="tagContent">
                            Time to visit:
                        </label>
                    </th>
                    <td style="padding-bottom: 8px;">
                        <label class="content">
                            Jan
                            @if (Model.cMonths != null && Model.cMonths.Contains("January"))
                            {
                                <input type="checkbox" name="cMonths" value="January" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="January">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Feb
                            @if (Model.cMonths != null && Model.cMonths.Contains("February"))
                            {
                                <input type="checkbox" name="cMonths" value="February" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="February">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Mar
                            @if (Model.cMonths != null && Model.cMonths.Contains("March"))
                            {
                                <input type="checkbox" name="cMonths" value="March" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="March">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Apr
                            @if (Model.cMonths != null && Model.cMonths.Contains("April"))
                            {
                                <input type="checkbox" name="cMonths" value="April" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="April">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            May
                            @if (Model.cMonths != null && Model.cMonths.Contains("May"))
                            {
                                <input type="checkbox" name="cMonths" value="May" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="May">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Jun
                            @if (Model.cMonths != null && Model.cMonths.Contains("June"))
                            {
                                <input type="checkbox" name="cMonths" value="June" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="June">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Jul
                            @if (Model.cMonths != null && Model.cMonths.Contains("July"))
                            {
                                <input type="checkbox" name="cMonths" value="July" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="July">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Aug
                            @if (Model.cMonths != null && Model.cMonths.Contains("August"))
                            {
                                <input type="checkbox" name="cMonths" value="August" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="August">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Sep
                            @if (Model.cMonths != null && Model.cMonths.Contains("September"))
                            {
                                <input type="checkbox" name="cMonths" value="September" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="September">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Oct
                            @if (Model.cMonths != null && Model.cMonths.Contains("October"))
                            {
                                <input type="checkbox" name="cMonths" value="October" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="October">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Nov
                            @if (Model.cMonths != null && Model.cMonths.Contains("Novenmber"))
                            {
                                <input type="checkbox" name="cMonths" value="Novenmber" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="Novenmber">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Dec
                            @if (Model.cMonths != null && Model.cMonths.Contains("December"))
                            {
                                <input type="checkbox" name="cMonths" value="December" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cMonths" value="December">
                            }
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr style="border-bottom: 3px solid #e7e7e7">
                    <th style="padding-bottom: 8px;">
                        <label class="tagContent">
                            Prefered interests:
                        </label>
                    </th>
                    <td style="padding-bottom: 8px;">
                        <label class="content">
                            Interest1
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest1"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest1" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest1">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest2
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest2"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest2" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest2">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest3
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest3"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest3" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest3">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest4
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest4"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest4" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest4">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest5
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest5"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest5" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest5">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest6
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest6"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest6" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest6">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest7
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest7"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest7" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest7">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest8
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest8"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest8" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest8">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest9
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest9"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest9" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest9">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <label class="content">
                            Interest10
                            @if (Model.cInterests != null && Model.cInterests.Contains("Interest10"))
                            {
                                <input type="checkbox" name="cInterests" value="Interest10" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="cInterests" value="Interest10">
                            }
                            <span class="checkmark"></span>
                        </label>
                        <input type="submit" class="submitbtn" value="Search" style="float: right; margin-right: 64px;" />
                    </td>
                </tr>
            </table>
        </form>

        <div class="col-lg-4" style="background-color: #808080; margin-top: 16px; padding-bottom: 500px;">

        </div>

        <div id ="mapCanvas"class="col-lg-8" style="margin-top: 16px; padding-bottom: 500px;">

        </div>
    </div>
</body>

