{
    ViewBag.Title = "TestMarkers";
}



<h2>TestMarkers</h2>
<div id="wrapper">
    <main>
        <div id="content" style="height:600px">
            <div class="innertube">
                <h1>Heading</h1>
                <div id="dvMap"></div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">

    function initMap() {
        var map;
        //var bounds = new google.maps.LatLngBounds();

        var coa = { lat: -25.031596581410874, lng: 134.36777208750004 };
        var mapOptions = {
            center: coa,
            zoom: 4.5,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: false,
            labels: true
        };
        var map = new google.maps.Map(document.getElementById("content"), mapOptions);
        map.setTilt(50);

          $.get("@Url.Action("getFarmCountMonthlyFiltered", "Map")", function (data, status) {
            var markers = [];
            var contentString = [];
              var infowindow = [];
              for (i = 0; i < data.length; i++) {
                  var markerLabel = String(data[i].numberOfFarms);
                  //var numberOfFarmsString = (String)data.numberOfFarms;
                  var infoWindowContent = '<h3>' + data[i].stateName + '</h3>' +
                      '<br/>' + '<h4>Number of Farms with jobs in your selected month/months: <b>' + String(data[i].numberOfFarms) + '</b></h4>';
                    marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].location_lat, data[i].location_lng),
                    label: markerLabel,
                    map: map
                  });
                  infowindow = new google.maps.InfoWindow({
                      content: infoWindowContent
                  });
                  google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                      return function () {
                          infowindow.open(map, marker);
                      }
                  })(marker, i));
                  google.maps.event.addListener(marker, 'mouseout', (function (marker, i) {
                      return function () {
                          infowindow.close();
                      }
                  })(marker, i));


                // Center the map to fit all markers on the screen
                //map.fitBounds(bounds);

            }
        })
       
    }
    // Load initialize function

</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC_HGUZ-hvy730lBns4WKZxkhzMzm0UJU&region=AU&language=en-AU&callback=initMap" async defer></script>
<script  src="~/Scripts/MarkerWithLabel.js"></script>