@{
    ViewBag.Title = "About Us";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutus.css" />
</head>

<div class="container" style="padding-top:74px; width:80%">
    <div class="section1">
        <h1>- Our Mission -</h1>
        <h4>balabalabalabalabalabalabalabalabalabalabalabalabalaba</h4>
        <h1>About</h1>
        <h4 style="text-align:left; padding: 0 64px;">
            balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala balabala 
        </h4>
    </div>

    <div class="section2">
        <h1>Team Members</h1>
    </div>

    <div class="section3">
        <h1>Suggestions</h1>
        <h4>If you have any suggestions for our website, please let us know. </h4>
        <form>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="email">Your Email</label>
            <input type="email" id="email" name="email" placeholder="Your email address..">

            <label for="subject">Suggestions</label>
            <textarea id="subject" name="subject" placeholder="Any suggestions.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
