@{
    ViewBag.Title = "About Us";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/aboutus.css" />
</head>

<div class="container" style="padding-top:50px">
    <div style="margin-top:16px; margin-bottom: 24px;">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
    @*<div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Thank you!</strong> We will reply you as soon as we can.
    </div>*@
    <div class="section-center">
        <h1> Are you a backpacker? Yes? Read on... </h1>
        <br />
        <br />
        <h4 id="long-description">
            Working holiday visa is one of the most popular visas for young people like you who want to travel in Australia. In the last year, the number of incoming tourists was over 157000 from the eligible countries. As a result, the country gets a huge boost in tourism as more and more unreachable sites are becoming visible widening the Australian tourism boundaries. The visa is valid for one year and the current rules to extend the visa to second year requires 88 days of work in regional Australia, for which fruit picking is a popular choice of work.
            <br />
            <br />
            We understand that as a backpacker, it can be a daunting task to find regional farm-work while you are travelling in Australia to fulfil your working holiday visa requirements. This, while still being able to travel and look around. There are numerous options for you all over internet to find work in regional Australia. Our website only makes it much easier for you to make a decision by showing you the options that have been <i>tailor made</i> for you based on your preferred time to travel, demand of harvest jobs in your choice of states and outdoor activities that interest you.
        </h4>
    </div>
    <div class="section-center">
        <h1>Our Team</h1>
        <br />
        <br />
        <div class="selection-img">
            <div class="col-lg-3">
                <img src="~/img/Weicheng.jpeg" class="img-responsive"><br />
                <p>
                    <b>Weicheng Chen</b>
                    Masters in Information Technology
                </p>

            </div>
            <div class="col-lg-3">
                <img src="~/img/Nupur.jpeg" class="img-responsive"><br />
                <p>
                    <b>Nupur Parvan</b>
                    Masters in Business Information Systems
                </p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/Shazeed.jpeg" class="img-responsive"><br />
                <p>
                    <b>Shazeed Ahsan</b>
                    Masters in Information Technology
                </p>
            </div>
            <div class="col-lg-3">
                <img src="~/img/Zoe.jpeg" class="img-responsive"><br />
                <p>
                    <b>Ying Zhong</b>
                    Masters in Data Sciences
                </p>
            </div>
        </div>
    </div>

    <div class="section-center">
        <h1>Suggestions</h1>
        <br />
        <h4>Please drop in your suggestions about the website here, <i><b>or</b></i> mail us at <b>coldspotatmonash@gmail.com</b></h4>
        <form name="sForm" id="sForm">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Enter your first name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Enter your last name..">

            <label for="email">Your Email</label>
            @*<label id ="emailV" hidden>* Please provide a valid email address!</label>*@
            <input type="email" id="email" name="email" placeholder="Enter your email address..">

            <label for="subject">Suggestions</label>
            @*<label id="subjectV" hidden>* There should be some suggestions before submission!</label>*@
            <textarea id="subject" name="subject" placeholder="Type in your suggestions here.." style="height:200px"></textarea>
            <input id="suggestionBtn" type="submit" value="Submit">
        </form>
    </div>
</div>
