
@{
    ViewBag.Title = "Accomodation";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/accomodation.css" />
</head>

@*This is a accomodation page which contains a dashboard. 
By using the data we visualised here, user can make a decition which is more suitable for themselves.*@
<body>

    @*Site Map.*@
    <div style="background-color: lightgray; padding-top: 50px;">
        <div class="container">
            @Html.MvcSiteMap().SiteMapPath()
        </div>
    </div>

    <div class="container">
        @*A description about the dashboard below.*@
        <div id="accomodationDescription">
            <p>
                We are sure that in your pursuit of travelling and looking for work in rural Australia, you must have come across situations where you couldn’t find a decent budget accommodation.
                We make your life a little bit simpler by showing you trends of caravan accommodation prices throughout Australia by the types of cabins they offer you to stay in.
                </br>
                </br>
                The caravan parks provide you with facilities like washing and cooking for your day to day work. You can choose to stay in a cabin with an in-suite bathroom and basic facilities. You can also choose between powered and unpowered sites which essentially means their ability to be connected to power sources.
                <br />
            </p>
        </div>

        @*The dashboard integrated from outsite dashboard generator.*@
        <div class='tableauPlaceholder' id='viz1526355402548' style='position: relative'>
        <noscript><a href='#'><img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Q8&#47;Q89HBKX25&#47;1_rss.png' style='border: none' /></a>
            </noscript>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' />
            <param name='path' value='shared&#47;Q89HBKX25' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Q8&#47;Q89HBKX25&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' />
            </object>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1526355402548');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800)
            {
                vizElement.style.width = '100%';
                vizElement.style.height = '1607px';
            } else if (divElement.offsetWidth > 500)
            {
                vizElement.style.width = '1200px';
                vizElement.style.height = '1627px';
            }
            else
            {
                vizElement.style.width = '1200px';
                vizElement.style.height = '1627px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
</body>
