@model TripNPick.Models.DropdownList

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/droplistform.css" rel="stylesheet">

    <title>@ViewData["Title"] - Trip&Pick</title>
</head>
<body>
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="display-3" style="font-variant: small-caps; font-size: 400%; margin-top: -72px">Making it simple for you..</h1>
                        <h3>To find farms where you can work to pick fruit</h3>
                        <h3>Close to where you want to be..</h3>
                        <form @*action="/Home/ExpResults"*@ class="form-inline" method="post" style="color: black; background-color: white; width: 550px; margin: 32px auto auto auto; padding: 8px 0;">
                            <div class="dropdown">
                                <button class="dropbtn" disabled>Tell us when you want to travel</button>
                                <div class="dropdown-content">
                                    <label class="content">
                                        January
                                        <input type="checkbox" name="yourInte" value="January">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        February
                                        <input type="checkbox" name="yourInte" value="February">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        March
                                        <input type="checkbox" name="yourInte" value="March">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        April
                                        <input type="checkbox" name="yourInte" value="April">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        May
                                        <input type="checkbox" name="yourInte" value="May">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        June
                                        <input type="checkbox" name="yourInte" value="June">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        July
                                        <input type="checkbox" name="yourInte" value="July">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        Auguest
                                        <input type="checkbox" name="yourInte" value="Auguest">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        September
                                        <input type="checkbox" name="yourInte" value="September">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        October
                                        <input type="checkbox" name="yourInte" value="October">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        Novenmber
                                        <input type="checkbox" name="yourInte" value="Novenmber">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="content">
                                        December
                                        <input type="checkbox" name="yourInte" value="December">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="submitbtn" value="Search" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">FAQ</h2>
                    <p class="lead">
                        To make your experience backpacking in Australia pleasant, we have compiled some basic information for you that you should be aware of when you work on farms on your working holiday Visa.
                    </p>
                    <h3 class="section-heading">@Html.ActionLink("Learn More", "Information", "Home")</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/rightsBG.v1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
