@model TripNPick.Models.DropdownList

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - Trip&Pick</title>
</head>
<body>
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="display-3" style="font-variant: small-caps; font-size: 400%;">Trip & Pick</h1>
                        <h3>Based on your interests, we will help you to find the most suitable farm.</h3>
                        <hr class="intro-divider">
                        <form action="/Home/ExpResults" class="form-inline" method="post" style="color: black; background-color: white; width: 350px; margin: auto; padding: 8px 0;">
                            <input type="radio" name="yourInte" value="camping" checked> Camping
                            <input type="radio" name="yourInte" value="hiking"> Hiking
                            <input type="radio" name="yourInte" value="skiing"> Skiing
                            <input type="radio" name="yourInte" value="surfing"> Surfing
                            @*<input type="text" class="form-control" name="yourInte" placeholder="Enter your interest here..." />*@
                            <input type="submit" class="btn" value="Search" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Payments</h2>
                    <p class="lead">Make sure you are getting paid properly.
                    <br />
                        Know what your the minimum wage is and what you are supposed to be
                        be paid.
                    </p>
                    <h3 class="section-heading">@Html.ActionLink("Learn More", "Payments", "Home")</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/paymentBG.v1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Taxes</h2>
                    <p class="lead">You are eligible to pay tax as well as tax return.
                    <br />
                    Know how much tax you have to pay and how much can you get back after a year.
                    </p>
                    <h3 class="section-heading">@Html.ActionLink("Learn More", "Taxs", "Home")</h3>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/img/taxBG.v1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Working Rights</h2>
                    <p class="lead">You have the right to question and say no whenever you feel uncomfortable.
                    <br />
                    Do not let your ignorance exploit you.
                    <br />
                    There are always ways to seek help.
                    </p>
                    <h3 class="section-heading">@Html.ActionLink("Learn More", "Rights", "Home")</h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/img/rightsBG.v1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
