
@{
    ViewBag.Title = "FAQ";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/PaymentTaxRight.css" />
</head>

<div class="container" style="padding: 50px 50px 24px 50px;">
    <div style="margin-top:16px;">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
    <div class="page-header">
        <h1 style="font-variant: small-caps; font-size: 300%;">Payments</h1>
    </div>
    <ul class="messageList">
        <li class="message">
            First, get a <a class="webLink" target="_blank" href="https://www.ato.gov.au/Individuals/Tax-file-number">
                TFN
            </a>
            number for yourself to be paid against and your <a class="webLink" target="_blank" href="https://www.australia.gov.au/information-and-services/money-and-tax/superannuation">
                SUPERANNUATION
            </a>
            to be contributed towards.
        </li>
        <li class="message">
            If you are above 21 years of age, you are should not be paid below the minimum wage bar.
        </li>
        <li class="message">
            When you do start working, your employer is liable to provide you with a formal document with yours and their details including the names of the two-party’s involved, your hourly wage and the hours you are expected to work in a period.
        </li>
        <li class="message">
            No employer can make deductions from your agreed wage, unless you agree to it OR it benefits you.
        </li>
    </ul>
</div>

<div class="container" style="padding: 0 50px 24px 50px;">
    <div class="page-header">
        <h1 style="font-variant: small-caps; font-size: 300%;">Tax</h1>
    </div>
    <ul class="messageList">
        <li class="message">
            Make sure you know the tax 
            <a class="webLink" target="_blank" href="https://www.ato.gov.au/Individuals/International-tax-for-individuals/Coming-to-Australia/Working-holiday-makers/">
                LAWS
            </a>
            when you are on a working holiday visa. 
        </li>
        <li class="message">
            When you work in Australia on 
            <a class="webLink" target="_blank" href="https://www.ato.gov.au/Individuals/Tax-file-number/">
            TFN
            </a> 
            , you may be eligible for tax returns, you can file your tax on the
            <a class="webLink" target="_blank" href="https://www.ato.gov.au/Calculators-and-tools/Host/?anchor=DINTL&anchor=DINTL/questions#DINTL/questions">
            GOVERNMENT WEBSITE
            </a>.
        </li>
    </ul>
</div>

<div class="container" style="padding: 0 50px 24px 50px;">
    <div class="page-header">
        <h1 style="font-variant: small-caps; font-size: 300%;">Work Rights</h1>
    </div>
    <ul class="messageList">
        <li class="message">
            You can work for an employer for upto 6 months to fulfil your 88 days of work. Find more information can be found on the governmnet website for
            <a class="webLink" target="_blank" href="https://www.homeaffairs.gov.au/trav/work/empl/whm-six-months-one-employer">
                HOME AFFAIRS
            </a>.
        </li>
        <li class="message">
            All rights related information when you are on a working holiday visa can be found
            <a class="webLink" target="_blank" href="https://www.fairwork.gov.au/how-we-will-help/templates-and-guides/fact-sheets/rights-and-obligations/visa-holders-and-migrant-workers-workplace-rights-and-entitlements">
                HERE
            </a>.
        </li>
        <li class="message">
            Always be honest and speak to your employer about any issues you face or if you are uncomfortable. In cases where your employer is not being fair to you or others, there is help available if and when you do need it.
        </li>
        <li class="message">
            <a class="webLink" target="_blank" href="https://www.fairwork.gov.au/">
                FAIR WORK OMBUDSMAN
            </a>
            is a government is a service by the Australian government to address issues around exploitation in work places.
        </li>
    </ul>
</div>
