
@{
    ViewBag.Title = "Payments";
}

<div class="container">
    <div class="page-header">
        <h1 style="font-variant: small-caps; font-size: 400%; padding: 12px 0;">Payments</h1></div>
    <p>
        <ul class="messageList">
            <li class="message">
                No one over the age of 21 can be paid less than the minimum wage.
            </li>

            <li class="message">
                Ask for a document which has your name, the employer’s name, ABN, your hourly wage and expected employment hours.
                <br />
                The employers are obliged to provide you with this information.
            </li>

            <li class="message">
                Check which award is allocated to the industry you are working in.
                <br />
                Click <a href="https://www.fairwork.gov.au/awards-and-agreements/awards/list-of-awards">HERE</a> to view the ful list of awards.
            </li>

            <li class="message">Get a <a href="https://www.ato.gov.au/Individuals/Tax-file-number">TFN NUMBER</a>. </li>

            <li class="message">
                Get a Superannuation Account. Have a read through <a href="https://www.australia.gov.au/information-and-services/money-and-tax/superannuation">HERE</a> and <a href="https://www.superguide.com.au/boost-your-superannuation/super-beginners-qas">HERE</a> .
                to understand and apply for a superannuation account.
            </li>
            <li class="message">
                Provide your TFN to your superannuation account when you are
                applying otherwise the contributions will be taxed more.
            </li>
            <li class="message">
                Provide your employer with TFN and your superannuation account.
                <br />
                Ask your employer if the superannuation is paid quarterly, monthly or every pay round.
                <br />
                Check your superannuation account regularly.
            </li>

            <li class="message">
                Click <a href="https://www.fairwork.gov.au/pay/pay-slips-and-record-keeping">HERE</a>
                to find out what your payslip should include.
            <li>
        </ul>
    </p>
</div>
