
@{
    ViewBag.Title = "Payment";
}





<div class="container">
    <h1>Payment</h1>
    <p>
        <ul>

            <li type="circle">
                No one over the age of 21 can be paid less than the minimum wage.
            </li>

            <li type="circle">
                Ask for a document which has your name, the employer’s name, ABN, your hourly wage and expected employment hours.
                The employers are obliged to provide you with this information..
            </li>

            <li type="circle">
                Check which award is allocated to the industry you are working in.
                Click <a href="https://www.fairwork.gov.au/awards-and-agreements/awards/list-of-awards">
                </a>here to view the ful list of awards.
            </li>

            <li type="circle">Get a <a href="https://www.ato.gov.au/Individuals/Tax-file-number">TFN number</a> </li>

            <li type="circle">
                Get a Superannuation Account. Have a read through <a href="https://www.australia.gov.au/information-and-services/money-and-tax/superannuation
https://www.superguide.com.au/boost-your-superannuation/super-beginners-qas
">these pages</a>
                to understand and apply for a superannuation account.
            </li>
            <li type="circle">
                Provide your TFN to your superannuation account when you are
                applying otherwise the contributions will be taxed more.
            </li>
            <li type="circle">
                Provide your employer with TFN and your superannuation account.
                Ask your employer if the superannuation is paid quarterly, monthly or every pay round.
                Check your superannuation account regularly.
            </li>

            <li type="circle">
                Click <a href="https://www.fairwork.gov.au/pay/pay-slips-and-record-keeping">here</a>
                to find out what your payslip should include
            <li>
        </ul>
    </p>

    <p style="color:white">
        <div>
            <a href="@Url.Action("Index", "Home")">Return to home page</a>
        </div>
    </p>



