

@{
    ViewBag.Title = "Working Rights";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/PaymentTaxRight.css" />
</head>

<div class="container">
    <div class="page-header">
        <h1 style="font-variant: small-caps; font-size: 400%; padding: 12px 0;">Work Rights</h1>
    </div>
        <ul class="messageList">
            <li class="message">
                Read through <a class="webLink" href=". https://www.fairwork.gov.au/how-we-will-help/templates-and-guides/fact-sheets/rights-and-obligations/visa-holders-and-migrant-workers-workplace-rights-and-entitlements. ">HERE </a>
                to have clear view of the your workplace rights an entitlements
            </li>

            <li class="message">
                Any doubts regarding work rights, pay rate or work conditions contact Fairwork (through email or phone) directly. 
                <br />
                You should not be afraid because of your visa conditions or any other reason.
                <br />
                They are there to help you not to get exploited.
            </li>

            <li class="message">
                Speak up and be honest to your employer whenever you are uncomfortable.
            </li>

            <li class="message">
                No one over the age of 21 can be paid less than the minimum wage.
            </li>

            <li class="message">
                Generally, an employer cannot deduct or force you to agree to a deduction
                of your wage unless you agree and the deduction benefits you.
            </li>
        </ul>
</div>