

@{
    ViewBag.Title = "WorkRights";
}

<div class="container">
    <h1>WorkRights</h1>



    <p>
        <ul>

            <li type="circle">
                Read through <a href=". https://www.fairwork.gov.au/how-we-will-help/templates-and-guides/fact-sheets/rights-and-obligations/visa-holders-and-migrant-workers-workplace-rights-and-entitlements. ">this government webpage </a>
                to have clear view of the your workplace rights an entitlements
            </li>

            <li type="circle">
                Any doubts regarding work rights, pay rate or work conditions contact Fairwork (through email or phone) directly. You should not be afraid because of your visa conditions or any other reason.
                They are there to help you not to get exploited.
            </li>

            <li type="circle">Speak up and be honest to your employer whenever you are uncomfortable.</li>

            <li type=" circle">No one over the age of 21 can be paid less than the minimum wage.</li>

            <li type="circle">
                Generally, an employer cannot deduct or force you to agree to a deduction
                of your wage unless you agree and the deduction benefits you.
            </li>

        </ul>
    </p>
    <p style="color:white">
        <div>
            <a href="@Url.Action("Index", "Home")">Return to home page</a>
        </div>
    </p>
</div>