
@{
    ViewBag.Title = "Taxes";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/PaymentTaxRight.css" />
</head>

<div class="container">
    <div class="page-header">
        <h1 style="font-variant: small-caps; font-size: 400%; padding: 12px 0;">Return Taxes</h1>
    </div>
        <ul class="messageList">
            <li class="message">
                Read about the tax laws for Working holiday makers <a class="webLink" href="https://www.ato.gov.au/Individuals/International-tax-for-individuals/Coming-to-Australia/Working-holiday-makers/">
                    HERE
                </a>
            </li>
            <li class="message">
                If you undertake regular paid employment in Australia you might be eligible for tax return. 
                <br />
                To <a class="webLink" href="https://www.ato.gov.au/Calculators-and-tools/Host/?anchor=DINTL&anchor=DINTL/questions#DINTL/questions">CLICK</a> if you need to lodge a tax return.
            </li>
            <li class="message">
                Go <a class="webLink" href="https://www.ato.gov.au/individuals/lodging-your-tax-return">HERE</a> to lodge your tax return.
            </li>
            <li class="message">
                No one over the age of 21 can be paid less than the minimum wage.
            </li>
            <li class="message">
                Generally, an employer cannot deduct or force you to agree to a deduction
                of your wage unless you agree and the deduction benefits you.
            </li>
        </ul>
</div>