
@{
    ViewBag.Title = "ReturnTax";
}

<div class="container">
    <h1>ReturnTax</h1>

    <p>
        <ul>

            <li type="circle">
                Read about the tax laws for Working holiday makers <a href="https://www.ato.gov.au/Individuals/International-tax-for-individuals/Coming-to-Australia/Working-holiday-makers/">
                    here
                </a>
            </li>

            <li type="circle">
                If you undertake regular paid employment in Australia you might be eligible for tax return. To check if you need to lodge a tax return click <a href="https://www.ato.gov.au/Calculators-and-tools/Host/?anchor=DINTL&anchor=DINTL/questions#DINTL/questions">
                    here
                </a>.
            </li>

            <li type="circle">
                Go <a href="https://www.ato.gov.au/individuals/lodging-your-tax-return">
                </a>here to lodge your tax return.
            </li>

            <li type=" circle">No one over the age of 21 can be paid less than the minimum wage.</li>

            <li type="circle">
                Generally, an employer cannot deduct or force you to agree to a deduction
                of your wage unless you agree and the deduction benefits you.
            </li>

        </ul>
    </p>
    <p style="color:white">
        <div>
            <a href="@Url.Action("Index", "Home")">Return to home page</a>
        </div>
    </p>
</div>