div {
    line-height: 1.65 !important;
}

p {
    text-align:justify; 
    text-justify: inter-word;
    font-size: 115%;
    color: #bfbfbf;
    font-weight: bold;
}

p b{
    color: #000;
}

#aboutDes {
    color: initial;
    font-weight: initial;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 50px 0 !important;
    line-height: 1.5 !important;
    box-sizing: border-box;
    color: #000;
    display: block;
}

.section-center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px !important;
}

.section-center .selection-img {
    justify-content: center;
    align-items: center;
}

.section-center .selection-img div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-center .selection-img div img {
    justify-content: center;
    align-items: center;
    float: initial;
    max-width: 150px;
    max-height: 150px;
}

.section-center .selection-img div p {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#theForm {
    width: 90%;
}

#theForm div {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;

}

#theForm div input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

#theForm div textarea {
    height: 200px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

#suggestionBtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#suggestionBtn:hover {
    background-color: #45a049;
}

#contactImg {
    max-width: 250px;
    padding: 32px 0;
}

p img {
    max-height: 18px;
}

.aboutusbg {
    background: url(../img/aboutBG.JPG) no-repeat center center;
    background-size: cover;
    margin-bottom: 50px;
}

.aboutusbg h1 {
    color: white !important;
    padding: 120px 0 !important;
}

#formSection {
    padding-bottom: 50px;
}

.ourteam {
    background-color: #f8f8f8;
    margin-top: 50px;
    padding-bottom: 50px !important;
}

.warningWarper #popupdiv {
    border: 0 !important;
    margin-bottom: 0 !important;
}

.warningWarper #popupdiv .close {
    color: red;
}

.warningWarper #popupdiv .alert-link {
    text-decoration: underline;
}

.warningWarper {
    background-color: #fcf8e3;
}

.successWarper #popupdiv {
    border: 0 !important;
    margin-bottom: 0 !important;
}

.successWarper #popupdiv .close {
    color: red;
}

.successWarper {
    background-color: #dff0d8;
}

#emailDiv span {
    color: orange;
}

#suggestionDiv span {
    color: orange;
}