#accomodationDescription p {
    text-align:justify; 
    text-justify: inter-word;
    font-size: 115%;
    line-height: 1.65
}

#accomodationDescription {
    padding: 50px 0;
}

.tableauPlaceholder {
    margin-bottom: 50px !important;
}