
#hpForm {
    width: 100%;
}

.select2 {
    width:400px!important;
}
@media(max-width: 990px ) {
    .intro-message {
        padding-top: 14%;
        padding-bottom: 9%;
    }
}

@media(max-width: 767px) {
    
    .intro-message {
        padding-top: 15%;
        padding-bottom: 8%;
    }

    .select2 {
        width:400px!important;
    }
}

@media(max-width: 630px ) {
    .intro-message {
        padding-top: 16%;
        padding-bottom: 7%;
    }
}

@media(max-width: 520px ) {
    .intro-message {
        padding-top: 17%;
        padding-bottom: 6%;
    }

    .btn-success {
        width: 400px;
     }
}

@media(max-width: 480px) {
    .intro-message {
        padding-top: 19%;
        padding-bottom: 4%;
    }

    .select2 {
        width:300px!important;
    }

     .btn-success {
        width: 300px;
     }
}

@media(max-width: 350px) {
    .intro-message {
        padding-top: 20%;
        padding-bottom: 3%;
    }

    .select2 {
        width:280px!important;
    } 

    .btn-success {
        width: 280px;
    }
}