
#hpForm {
    width: 100%;
}

.select2 {
    width:400px!important;
}
@media(max-width: 990px) and (min-width: 768px) {
    .intro-header h1 {
        padding-top: 190px !important;
        padding-bottom: 70px !important;
        font-size: 330% !important;
    }

    .intro-header section {
        padding-bottom: 140px !important;
    }
}

@media(max-width: 767px) and (min-width: 631px) {

    .select2 {
        width:400px!important;
    }
    
    .intro-header h1 {
        padding-top: 180px !important;
        padding-bottom: 65px !important;
        font-size: 315% !important;
    }

    .intro-header section {
        padding-bottom: 130px !important;
    }
}

@media(max-width: 630px ) and (min-width: 521px){
    .intro-header h1 {
        padding-top: 170px !important;
        padding-bottom: 60px !important;
        font-size: 300% !important;
    }

    .intro-header section {
        padding-bottom: 120px !important;
    }
}

@media(max-width: 520px ) and (min-width: 481px){
    .intro-header h1 {
        padding-top: 160px !important;
        padding-bottom: 55px !important;
        font-size: 300% !important;
    }

    .intro-header section {
        padding-bottom: 110px !important;
    }

    .btn-success {
        width: 400px;
     }
}

@media(max-width: 480px) and (min-width: 351px){
    .intro-header h1 {
        padding-top: 150px !important;
        padding-bottom: 50px !important;
        font-size: 300% !important;
    }

    .intro-header section {
        padding-bottom: 100px !important;
    }

    .select2 {
        width:300px!important;
    }

     .btn-success {
        width: 300px;
     }
}

@media(max-width: 350px) {
    .intro-header h1 {
        padding-top: 125px !important;
        padding-bottom: 50px !important;
        font-size: 300% !important;
    }

    .intro-header section {
        padding-bottom: 75px !important;
    }

    .select2 {
        width:280px!important;
    } 

    .btn-success {
        width: 280px;
    }
}