#mapForm {
    display:flex;
    flex-direction: column;
    background: url(../img/searchBG.PNG) no-repeat center center;
    background-size: cover;
    width: 100%;
    font-size: 15px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3px !important;
}

#mapForm form {
    padding: 24px 32px 32px 32px;
}

.select2 {
    width: 100% !important;
}

#mapForm .btn-success {
    float: right;
    margin-top: 8px;
}

#mapForm h2 {
    text-align: center;
    color: white;
    font-weight: bold;
}

#mapForm label {
    margin-top: 4px;
    color: white;
}

#mapForm .col-lg-6 {
    padding-left: 0px;
    padding-right: 0px;
}

#example {
    padding: 8px 0 0 0 !important;
    margin: 0 !important;
    float: right;
}

#example img{
    height: 20px;
}

.intro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
    text-align:justify; 
    text-justify: inter-word;
}

.intro img {
    max-height: 64px;
    padding-bottom: 8px;
}



#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 6px solid #f3f3f3;
    border-radius: 100%;
    border-top: 8px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#testMap {
    display: none;
    text-align: center;
}