
.messageList {
    border-left: 5px solid #2e5fff;
    background-color: #f3f3f3;
    list-style-type: none;
    padding: 8px 16px;
}

.message {
    padding: 10px 0;
    font-size: 140%;
}

.webLink:link, .webLink:visited {
    background-color: #f3f3f3;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.webLink:hover, .webLink:active {
    background-color: green;
    color: white;
}