
thead {
    background: #6b6b6b none repeat scroll 0 0;
    color: #fff;
    font-weight: 300;
    margin: 0;
}
row-header {
    background: #dedede;
}
.cell-normal {
    background: #e0e0d1;
}

.jumbotron p {
    margin: 0;
}

.jumbotron p img{
    max-height: 20px;
}

#tabcss {
    margin-top: 16px;
}

#tabcss tbody tr td span img{
    max-height: 14px;
}
